{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-comment mr-1"></i>
                Liste des commentaires
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Commentaire</th>
                            <th>Post commenté</th>
                            <th>Crée le</th>
                            <th>Modifié le</th>
                            <th>Auteur</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Commentaire</th>
                            <th>Post commenté</th>
                            <th>Crée le</th>
                            <th>Modifié le</th>
                            <th>Auteur</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for comment in comments %}
                            <tr {% if not comment.visible %}class="text-muted"{% endif %}>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.content }}</td>
                                <td>#{{ comment.postId }}: {{ comment.postTitle }}</td>
                                <td>{{ comment.dateCreated.format('Y-m-d H:i:s') }}</td>
                                <td>{% if comment.dateModified != comment.dateCreated %}{{ comment.dateModified.format('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                                <td>{{ comment.displayName }}</td>
                                <td>
                                    <a href="/admin/comment/edit/{{ comment.id }}">
                                        {% if comment.visible %}
                                            <i class="fa fa-eye"></i>
                                        {% else %}
                                            <i class="fa fa-eye-slash"></i>
                                        {% endif %}
                                    </a>
                                    <a href="/admin/comment/delete/{{ comment.id }}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}