{% extends '@admin/layout.html.twig' %}

{% block title %}Supprimer un commentaire{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-comment mr-1"></i>
                    Supprimer le commentaire #{{ comment.id }}
                </div>
                <div class="card-body">
                    <div>
                        <strong>Commentaire</strong>
                        <p>{{ comment.content }}</p>
                    </div>
                    <div>
                        <strong>Auteur</strong>
                        <p>{{ author.displayName }}</p>
                    </div>
                    <div>
                        <strong>Titre du post</strong>
                        <p>{{ post.title }}</p>
                    </div>
                    <div>
                        <hr/>
                        Crée le {{ comment.dateCreated.format('d-m-Y à H:i:s') }}
                        {% if comment.dateCreated != comment.dateModified %}
                            - Modifié le {{ comment.dateModified.format('d-m-Y à H:i:s') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p><strong>Voulez vous supprimer le commentaire #{{ comment.id}} ?</strong></p>
                    <div>
                        <form method="post">
                            <button type="submit" name="comment_deleteCancel">Annuler</button>
                            <button type="submit" name="comment_deleteSubmit">Supprimer</button>
                            <input type="hidden" name="id" value="{{ comment.id }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}