{% extends '@admin/layout.html.twig' %}

{% block title %}Valider un commentaire{% endblock %}

{% block content %}
    {% include '@admin/block_formError.html.twig' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-comment mr-1"></i>
                    Valider le commentaire #{{ comment.id }}
                </div>
                <div class="card-body">
                    <div>
                        <strong>Commentaire</strong>
                        <p>{{ comment.content }}</p>
                    </div>
                    <div>
                        <strong>Auteur</strong>
                        <p>{{ author.displayName }}</p>
                    </div>
                    <div>
                        <strong>Titre du post</strong>
                        <p>{{ post.title }}</p>
                    </div>
                    <div>
                        <hr/>
                        Crée le {{ comment.dateCreated.format('d-m-Y à H:i:s') }}
                        {% if comment.dateCreated != comment.dateModified %}
                            - Modifié le {{ comment.dateModified.format('d-m-Y à H:i:s') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <form method="post">
                        <div>
                            <input type="radio" name="visible" value="1" id="visible" {% if comment.visible %}checked="checked"{% endif %}>
                            <label for="visible" {% if comment.visible %}class="font-weight-bold"{% endif %}>Visible</label>
                        </div>
                        <div>
                            <input type="radio" name="visible" value="0" id="hidden" {% if not comment.visible %}checked="checked"{% endif %}>
                            <label for="hidden" {% if not comment.visible %}class="font-weight-bold"{% endif %}>Caché</label>
                        </div>
                        <button type="submit" name="comment_editSubmit">Valider</button>
                        <input type="hidden" name="id" value="{{ comment.id }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}