{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion des posts{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <a class="bg-success text-white mx-4 text-center p-2 d-inline-block text-decoration-none"
                       href="/admin/blog/new">Nouveau post</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-newspaper-o mr-1"></i>
                    Gestion des posts
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Crée le</th>
                                <th>Modifié le</th>
                                <th>Auteur</th>
                                <th class="posts_list_comments_count">Commentaires</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Crée le</th>
                                <th>Modifié le</th>
                                <th>Auteur</th>
                                <th>Commentaires</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.dateCreated.format('Y-m-d H:i:s') }}</td>
                                    <td>{% if post.dateModified != post.dateCreated %}{{ post.dateModified.format('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                                    <td>{{ post.displayName }}</td>
                                    <td>{% if post.comment_count > 0 %}<a
                                            href="/admin/comments/{{ post.id }}">{{ post.comment_count }} <i
                                                    class="fa fa-comment"></i></a>{% else %}-{% endif %}</td>
                                    <td class="posts_list_actions">
                                        <a href="/admin/blog/edit/{{ post.id }}"><i class="fa fa-edit"></i></a>
                                        <a href="/admin/blog/delete/{{ post.id }}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}