{% extends '@admin/layout.html.twig' %}

{% block title %}Créer un nouveau post{% endblock %}

{% block content %}
    {% include '@admin/block_formError.html.twig' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="far fa-newspaper mr-1"></i>
                    Nouveau post
                </div>
                <div class="card-body">
                    <form method="post">
                        <div>
                            <label for="postTitle" class="d-block">Titre <span class="text-danger">{{ errors.title.msg }}</span></label>
                            <input style="width: 686px;max-width: 100%" type="text" name="title" id="postTitle" minlength="4" maxlength="60" width="60" value="{{ post.title }}"/>
                        </div>
                        <div class="mt-4">
                            <label for="postLead" class="d-block">Chapô <span class="text-danger">{{ errors.lead.msg }}</span></label>
                            <textarea style="width: 686px;max-width: 100%" minlength="10" maxlength="200" rows="4"  name="lead" id="postLead">{{ post.lead }}</textarea>
                        </div>
                        <div class="mt-4" style="width:726px;max-width: 100%">
                            <label for="postText" class="d-block">Texte <span class="text-danger">{{ errors.content.msg }}</span></label>
                            <textarea name="content" minlength="10" id="postText">{{ post.content }}</textarea>
                        </div>
                        <div class="my-4">
                            <input class="btn-primary" type="submit" name="post_newSubmit" value="Publier"/>
                            <input type="hidden" name="userId" value="1" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptJS %}
    <script>
        CKEDITOR.replace('postText', {
            baseFloatZIndex: 10005,
        });
    </script>
{% endblock %}