{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion du profil{% endblock %}

{% block content %}
    {% include '@admin/block_formError.html.twig' %}
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user mr-1"></i>
                    Nom et Prénom
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <label for="lastName">Nom</label> {% for error in errors.lastName %}{{ error }}{% endfor %}
                            <br/>
                            <input type="text" minlength="2" maxlength="40" name="lastName" id="lastName"
                                   value="{{ profile.lastName }}"/>
                        </div>
                        <div class="mb-2">
                            <label for="fistName">Prénom</label><br/>
                            <input type="text" minlength="2" maxlength="20" name="firstName" id="fistName"
                                   value="{{ profile.firstName }}"/>
                        </div>
                        <div>
                            <button type="submit" name="profile_nameSubmit">Enregistrer</button>
                            <input type="hidden" name="id" value="{{ profile.id }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-sm-4 mt-lg-0">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-quote-right mr-1"></i>
                    Phrase d'accroche
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <label for="teasing" class="d-none">Phrase d'accroche</label>
                            <textarea maxlength="130" name="teasing" id="teasing" style="width:686px;max-width: 100%"
                                      rows="2">{{ profile.teasing }}</textarea>
                        </div>
                        <div>
                            <button type="submit" name="profile_teasingSubmit">Enregistrer</button>
                            <input type="hidden" name="id" value="{{ profile.id }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-image mr-1"></i>
                    Photo / Logo
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <img src="{{ profile.photoUrl }}" width="120px" alt="Photo / Logo"/>
                        </div>
                        <div class="mb-2">
                            <input type="file" name="profilePhoto"/>
                        </div>
                        <div>
                            <button type="submit" name="profile_photoSubmit">Enregistrer</button>
                            <input type="hidden" name="id" value="{{ profile.id }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-file mr-1"></i>
                    C.V.
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <a href="{{ profile.cvUrl }}">/cv.pdf</a>
                        </div>
                        <div class="mb-2">
                            <input type="file" name="profilCv"/>
                        </div>
                        <div>
                            <button type="submit" name="profile_CvSubmit">Enregistrer</button>
                            <input type="hidden" name="id" value="{{ profile.id }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}