{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion des réseaux sociaux{% endblock %}

{% block content %}
    {% include '@admin/block_formError.html.twig' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-user"></i>
                    Ajouter un réseau social
                </div>
                <div class="card-body">
                    <form method="post">
                        <div>
                            <label for="name" class="col-form-label d-block">Nom du réseau</label>
                            <input type="text" minlength="2" maxlength="30" name="name" style="width: 200px;" id="name"/>
                        </div>
                        <div>
                            <label for="profileUrl" class="col-form-label d-block">Lien du profil</label>
                            <input type="text" maxlength="100" name="profileUrl" id="profileUrl" style="width: 200px;"/>
                        </div>
                        <div>
                            <label for="icon" class="col-form-label d-block">Classe de l'icone Font-Awesome</label>
                            <input type="text" minlength="7" maxlength="30" name="iconClass" id="icon" style="width: 200px;">
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn-primary" name="social_newSubmit">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fas fa-address-book mr-1"></i>
                    Liste des Réseaux sociaux
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Icone</th>
                                <th>Nom</th>
                                <th>Uri du profil</th>
                                <th>Crée le</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Icone</th>
                                <th>Nom</th>
                                <th>Uri du profil</th>
                                <th>Crée le</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for network in socialNetworks %}
                                <tr>
                                    <td>{{ network.id }}</td>
                                    <td><em class="{{ network.iconClass }}"></em></td>
                                    <td>{{ network.name }}</td>
                                    <td>{{ network.profileUrl }}</td>
                                    <td>{{ network.dateCreated.format('Y-m-d H:i:s') }}</td>
                                    <td>{% if network.dateModified != network.dateCreated %}{{ network.dateModified.format('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                                    <td>
                                        <a href="/admin/social/edit/{{ network.id }}"><i class="fas fa-edit"></i></a>
                                        <a href="/admin/social/delete/{{ network.id }}"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}