{% extends '@public/layout.html.twig' %}

{% block title %}Le Blog | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Blog</h2>
        </div>
    </section>
    <!-- Hero section end -->

    <section class="post-list-section spad">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-sm-12 col-lg-6 px-5 py-2">
                        <div class="row">
                            <div class="w-100 sp-blog-item">
                                <div class="post-date">
                                    <span>{{ post.dateCreated|date('d/m') }}</span>
                                </div>
                                <div class="blog-text">
                                    <h3 class="card-title"><a href="/blog/{{ post.id }}"
                                                              class="text-dark">{{ post.title }}</a></h3>
                                    <span>Par {{ post.displayName }}</span>
                                    <div><p>{{ post.lead }}</p></div>
                                    {% if post.comment_count>0 %}
                                        <em class="fa fa-comment"></em>
                                        <a href="#" class="comment">{{ post.comment_count }}
                                            commentaire{% if post.comment_count>1 %}s{% endif %}</a>
                                    {% endif %}
                                    <a href="/blog/{{ post.id }}" class="readmore"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% if pagesCount > 1 %}
            <div class="row">
                <div class="col-12 m-auto pt-5">
                <ul class="pagination justify-content-center">
                    {% if pageCurrent > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="/blog/page/{{ pageCurrent - 1 }}" aria-label="Précédent">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Précédent</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in 1..pagesCount %}
                        {% if page != pageCurrent %}
                            <li class="page-item"><a href="/blog/page/{{ page }}" class="page-link">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><span class="page-link text-dark">{{ page }}</span></li>
                        {% endif %}
                    {% endfor %}
                    {% if pageCurrent < pagesCount %}
                        <li class="page-item">
                            <a class="page-link" href="/blog/page/{{ pageCurrent + 1 }}" aria-label="Suivant">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Suivant</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        {% endif %}
        </div>
    </section>
{% endblock %}