<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <title>{% block title %}Sollagnier Blog{% endblock %}</title>
    <meta charset="{{ charset }}">
    <meta name="description" content="Sollagnier Blog, développeur d'application PHP/Symfony">
    <meta name="keywords" content="développeur, php, symfony, openclassrooms">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/animate.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>

     <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="header-social">
                {% for network in socialNetworks %}
                <a href="{{ network.profileUrl }}" title="{{ network.name }}"><span class="{{ network.iconClass }}"></span></a>
                {% endfor %}
            </div>
            <div class="user-panel">
                <a href="/register">S'enregistrer</a> /
                <a href="/login">Connexion</a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <a href="/" class="site-logo">
                <img src="/img/logo.png" alt="">
            </a>
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
            <ul class="main-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- Header section end -->

{% block content %}{% endblock %}

<!-- Footer section  -->
<footer class="footer-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-logo">
                    <img src="img/logo.png" alt="">
                </div>
                <div class="footer-social">
                    {% for network in socialNetworks %}
                        <a href="{{ network.profileUrl }}" title="{{ network.name }}"><span class="{{ network.iconClass }}"></span></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-lg-right">
                <ul class="footer-menu">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
                <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    &copy;2020 Tout droits réservés | template conçu par <a href="https://colorlib.com" target="_blank">Colorlib</a> et modifié avec&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    - <a href="/admin/">Accès Admin</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->



<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>