{% extends '@public/layout.html.twig' %}

{% block title %}Le Blog - {{ post.title }}| {{ parent() }}{% endblock %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="/img/page-top-bg.jpg">
        <div class="container" style="height:100px">
        </div>
    </section>
    <!-- Hero section end -->

    <section class="spad">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="post-meta pb-5">
                        <h2>{{ post.title }}</h2>
                        <div class="small text-muted pt-2 pl-3">Le {{ post.dateCreated.format('d/m/Y') }}
                            {% if post.dateModified != post.dateCreated %}
                                <span class="small"> - modifié le {{ post.dateModified.format('d/m/Y')}} </span>
                            {% endif %}
                        </div>
                        <div class="pl-3 small"><span>Par {{ author.displayName }}</span></div>
                    </div>
                    <div class="post-chapo font-weight-bold">
                        <p>{{ post.lead }}</p>
                    </div>
                    <div class="post-text">
                        {{ post.content }}
                    </div>
                    <div class="comments pt-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="comments-count">
                                    <em class="fa fa-comment"></em>
                                    {{ comments|length }} commentaire{% if comments|length > 1 %}s{% endif %}
                                </div>
                                {% for comment in comments %}
                                    <div class="comment">
                                        <div class="comment-author">{{ comment.displayName }}</div>
                                        <div class="comment-date">
                                            Le {{ comment.dateCreated|date('d-m-Y à H:i:s') }}</div>
                                        <div class="comment-text">{{ comment.content }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="comment-form pt-5">
                        <form class="contact-form" method="post">
                            <div class="row">
                                <div class="col-12 pb-3">
                                    <h4>Laisser un commentaire</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea placeholder="Votre Message" name="content" id="form_comment_content" minlength="3" maxlength="200"></textarea>
                                    <button class="site-btn" name="comment_newSubmit" id="form_comment_submit">Envoyer</button>
                                    <input type="hidden" name="userId" value="1" />
                                    <input type="hidden" name="postId" value="{{ post.id }}" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <aside class="col-sm-12 col-md-4 offset-md-1 pt-5 pt-md-0">
                    <h4 class="pb-3">Derniers posts</h4>
                    <ul class="list-unstyled">
                        {% for lastPost in lastPosts %}
                        <li class="py-2 border-bottom"><a class="text-dark" href="/blog/{{ lastPost.id }}">{{ lastPost.title }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}